# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Flask
instance/
.webassets-cache

# Uploads și exports
app/uploads/*
app/exports/*
!app/uploads/.gitkeep
!app/exports/.gitkeep

# Docker
certbot/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
